# do not backup any wavefunction file in outdir/prefix.save/ which are in wfc*.hdf5 format
wfcup*.hdf5
wfcdw*.hdf5

# do not backup any nscf wavefunction file in outdir/ which are in prefix.wfc* format
*.wfc*

# do not save anything in .pp format (we only need the cube files)
*.pp

charge-density.hdf5 
atomic_proj.xml
*.cube
