# do not backup any wavefunction file in outdir/prefix.save/ which are in wfc*.hdf5 format
 
# do not backup any nscf wavefunction file in outdir/ which are in prefix.wfc* format

# do not save anything in .pp format (we only need the cube files)
